@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jz6513');
  src:  url('../fonts/icomoon.eot?jz6513#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jz6513') format('truetype'),
    url('../fonts/icomoon.woff?jz6513') format('woff'),
    url('../fonts/icomoon.svg?jz6513#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* ====== */

.icon-whatsapp:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-arrow_left:before {
  content: "\e903";
  font-size: 50px;
}
.icon-arrow_right:before {
  content: "\e904";
  font-size: 50px;
}
.icon-telegram:before {
  content: "\e905";
}
.icon-viber:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e907";
  font-size: 20px;
  color: var(--orange-color);
  padding-right: 5px;
  position: absolute;
  top: 0px;
  left: -24px;
}
.icon-phone:before {
  content: "\e908";
  font-size: 16px;
  color: var(--orange-color);
  padding-right: 3px;
}
.icon-instagram:before {
  content: "\e909";
}